@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Special-Thin; /* Гарнитура шрифта */
    src: url(fonts/PorscheNextTT-Thin.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Special-Regular; /* Гарнитура шрифта */
    src: url(fonts/PorscheNextTT-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Special-Bold; /* Гарнитура шрифта */
    src: url(fonts/PorscheNextTT-Bold.ttf); /* Путь к файлу со шрифтом */
}

body {
    font-family: $thinFont;
    line-height: 1.5;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    img {
        width: 150px;
    }
}

button {
    border: 0;
    border-radius: 50px;
    background: #d5001c;
    color: #fff;
    cursor: pointer;
    font-family: $regularFont;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/****************************** MAIN SCREEN ******************************/
.main_screen {
    height: 700px;
    background: url('../images/main_bg.jpg') no-repeat top;
    background-size: cover;
    color: #fff;
}

.main_screen__title {
    padding-top: 30px;
    margin-bottom: 20px;
    h1 {
        font-size: 45px;
        font-family: $boldFont;
        max-width: 1020px;
        width: 100%;
    }
    span {
        border-bottom: 8px solid #d5001c;
    }
}

.main_screen__small-title {
    margin-bottom: 20px;
    h2 {
        font-size: 35px;
        font-family: $thinFont;
        max-width: 950px;
        width: 100%;
    }
}

.main_screen__button {
    button {
        padding: 10px 15px;
        font-size: 25px;
    }
}

.main_screen__benefits {
    margin-bottom: 20px;
    // font-family: $regularFont;
}
.main_screen__card {
    display: flex;
    align-items: center;
}

.main_screen__icon-horse {
    width: 40px;
    height: 40px;
    background: url('../images/icons/icons.342b6190.png') no-repeat;
    background-position: 0 -80px;
}

.main_screen__icon-stopwatch {
    width: 40px;
    height: 40px;
    background: url('../images/icons/icons.342b6190.png') no-repeat;
    background-position: 0 -120px;
}

.main_screen__icon-speed {
    width: 40px;
    height: 40px;
    background: url('../images/icons/icons.342b6190.png') no-repeat;
    background-position: 0 -160px;
}

.main_screen__benefits-text {
    font-size: 25px;
    padding-left: 15px;
}
/****************************** VIDEO BLOCK ******************************/
.video_block__container {
    padding: 40px 10px;
}

.video_block__title {
    margin-bottom: 30px;
    h2 {
        font-size: 35px;
        text-align: center;
    }
}

.video_block__media {
    display: flex;
    align-items: center;
    justify-content: center;
    video {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        outline: none;
        margin-bottom: 30px;
    }
}

.video_block__small-text {
    p {
        font-size: 30px;
        text-align: center;
    }
}
/****************************** BENEFITS ******************************/
.benefits {
    background: #333;
    color: #fff;
    height: 600px;
}

.benefits__container {
    padding: 40px 10px;
}

.benefits__title {
    h2 {
        font-size: 35px;
        text-align: center;
    }
}